[Unit]
Description=Периодические теневые копии Samba-шар

[Timer]
OnCalendar=hourly
RandomizedDelaySec=5m
Persistent=true

[Install]
WantedBy=timers.target
